pandas
numpy
matplotlib
scikit-learn
scikit-image
opencv-python
picos
pyfftw
h5py
bottleneck
mdp
Cython
Sphinx
scipy
seaborn
scikit-image
shapely
pillow
future
wheel
suite2p
cellpose
# PyQt5
PythonQwt
guidata
guiqwt
python-lsp-server
alive-progress
pandasgui
itables
ipyplot
ipywidgets
ipyfilechooser